/* 页码span控制按钮 */
.swiper-pagination-bullet
  width 40px !important
  height 10px
  border-radius 0 !important
  background #ffffff

/* 切换上下页按钮 */  
.swiper-button-prev, .swiper-button-next
  box-sizing border-box
  width 60px
  height 60px
  border-radius 100%
  background-color #666
  background-image none !important

